.lst-kix_rbm2a0xu56fr-8 > li:before {
  content: "\0025a0  ";
}

.lst-kix_rbm2a0xu56fr-7 > li:before {
  content: "\0025cb  ";
}

.lst-kix_rbm2a0xu56fr-1 > li:before {
  content: "\0025cb  ";
}

.lst-kix_rbm2a0xu56fr-0 > li:before {
  content: "\0025cf  ";
}

ul.lst-kix_e80mmynzkxxu-7 {
  list-style-type: none;
}

ul.lst-kix_1szzz6xeq68m-8 {
  list-style-type: none;
}

ul.lst-kix_e80mmynzkxxu-8 {
  list-style-type: none;
}

.lst-kix_dd2rpnssw6y-1 > li:before {
  content: "\0025cb  ";
}

.lst-kix_dd2rpnssw6y-3 > li:before {
  content: "\0025cf  ";
}

ul.lst-kix_1szzz6xeq68m-7 {
  list-style-type: none;
}

ul.lst-kix_1szzz6xeq68m-6 {
  list-style-type: none;
}

ul.lst-kix_1szzz6xeq68m-5 {
  list-style-type: none;
}

ul.lst-kix_1szzz6xeq68m-4 {
  list-style-type: none;
}

.lst-kix_dd2rpnssw6y-0 > li:before {
  content: "\0025cf  ";
}

.lst-kix_dd2rpnssw6y-4 > li:before {
  content: "\0025cb  ";
}

ul.lst-kix_1szzz6xeq68m-3 {
  list-style-type: none;
}

ul.lst-kix_e80mmynzkxxu-1 {
  list-style-type: none;
}

ul.lst-kix_1szzz6xeq68m-2 {
  list-style-type: none;
}

ul.lst-kix_e80mmynzkxxu-2 {
  list-style-type: none;
}

ul.lst-kix_1szzz6xeq68m-1 {
  list-style-type: none;
}

ul.lst-kix_1szzz6xeq68m-0 {
  list-style-type: none;
}

ul.lst-kix_e80mmynzkxxu-0 {
  list-style-type: none;
}

ul.lst-kix_e80mmynzkxxu-5 {
  list-style-type: none;
}

ul.lst-kix_e80mmynzkxxu-6 {
  list-style-type: none;
}

ul.lst-kix_e80mmynzkxxu-3 {
  list-style-type: none;
}

ul.lst-kix_e80mmynzkxxu-4 {
  list-style-type: none;
}

.lst-kix_dd2rpnssw6y-2 > li:before {
  content: "\0025a0  ";
}

ul.lst-kix_nyi0q1u8vv4g-0 {
  list-style-type: none;
}

.lst-kix_rbm2a0xu56fr-2 > li:before {
  content: "\0025a0  ";
}

.lst-kix_rbm2a0xu56fr-3 > li:before {
  content: "\0025cf  ";
}

.lst-kix_dd2rpnssw6y-8 > li:before {
  content: "\0025a0  ";
}

ul.lst-kix_nyi0q1u8vv4g-8 {
  list-style-type: none;
}

ul.lst-kix_nyi0q1u8vv4g-7 {
  list-style-type: none;
}

ul.lst-kix_nyi0q1u8vv4g-6 {
  list-style-type: none;
}

.lst-kix_rbm2a0xu56fr-4 > li:before {
  content: "\0025cb  ";
}

.lst-kix_rbm2a0xu56fr-6 > li:before {
  content: "\0025cf  ";
}

.lst-kix_dd2rpnssw6y-5 > li:before {
  content: "\0025a0  ";
}

.lst-kix_dd2rpnssw6y-7 > li:before {
  content: "\0025cb  ";
}

ul.lst-kix_nyi0q1u8vv4g-5 {
  list-style-type: none;
}

ul.lst-kix_nyi0q1u8vv4g-4 {
  list-style-type: none;
}

ul.lst-kix_nyi0q1u8vv4g-3 {
  list-style-type: none;
}

ul.lst-kix_nyi0q1u8vv4g-2 {
  list-style-type: none;
}

.lst-kix_rbm2a0xu56fr-5 > li:before {
  content: "\0025a0  ";
}

.lst-kix_dd2rpnssw6y-6 > li:before {
  content: "\0025cf  ";
}

ul.lst-kix_nyi0q1u8vv4g-1 {
  list-style-type: none;
}

ul.lst-kix_7sa4jqf4lloj-1 {
  list-style-type: none;
}

ul.lst-kix_7sa4jqf4lloj-0 {
  list-style-type: none;
}

ul.lst-kix_7sa4jqf4lloj-3 {
  list-style-type: none;
}

ul.lst-kix_7sa4jqf4lloj-2 {
  list-style-type: none;
}

ul.lst-kix_7sa4jqf4lloj-5 {
  list-style-type: none;
}

ul.lst-kix_7sa4jqf4lloj-4 {
  list-style-type: none;
}

ul.lst-kix_7sa4jqf4lloj-7 {
  list-style-type: none;
}

ul.lst-kix_7sa4jqf4lloj-6 {
  list-style-type: none;
}

ul.lst-kix_7sa4jqf4lloj-8 {
  list-style-type: none;
}

.lst-kix_1szzz6xeq68m-4 > li:before {
  content: "\0025cb  ";
}

.lst-kix_1szzz6xeq68m-5 > li:before {
  content: "\0025a0  ";
}

.lst-kix_1szzz6xeq68m-2 > li:before {
  content: "\0025a0  ";
}

.lst-kix_1szzz6xeq68m-6 > li:before {
  content: "\0025cf  ";
}

ul.lst-kix_rbm2a0xu56fr-2 {
  list-style-type: none;
}

.lst-kix_1szzz6xeq68m-3 > li:before {
  content: "\0025cf  ";
}

ul.lst-kix_rbm2a0xu56fr-1 {
  list-style-type: none;
}

ul.lst-kix_rbm2a0xu56fr-0 {
  list-style-type: none;
}

ul.lst-kix_rbm2a0xu56fr-6 {
  list-style-type: none;
}

ul.lst-kix_rbm2a0xu56fr-5 {
  list-style-type: none;
}

ul.lst-kix_rbm2a0xu56fr-4 {
  list-style-type: none;
}

.lst-kix_7sa4jqf4lloj-4 > li:before {
  content: "\0025cb  ";
}

.lst-kix_7sa4jqf4lloj-6 > li:before {
  content: "\0025cf  ";
}

ul.lst-kix_rbm2a0xu56fr-3 {
  list-style-type: none;
}

ul.lst-kix_rbm2a0xu56fr-8 {
  list-style-type: none;
}

.lst-kix_7sa4jqf4lloj-5 > li:before {
  content: "\0025a0  ";
}

ul.lst-kix_rbm2a0xu56fr-7 {
  list-style-type: none;
}

.lst-kix_1szzz6xeq68m-0 > li:before {
  content: "\0025cf  ";
}

.lst-kix_1szzz6xeq68m-1 > li:before {
  content: "\0025cb  ";
}

.lst-kix_7sa4jqf4lloj-8 > li:before {
  content: "\0025a0  ";
}

.lst-kix_7sa4jqf4lloj-7 > li:before {
  content: "\0025cb  ";
}

ul.lst-kix_dd2rpnssw6y-8 {
  list-style-type: none;
}

ul.lst-kix_dd2rpnssw6y-7 {
  list-style-type: none;
}

ul.lst-kix_dd2rpnssw6y-6 {
  list-style-type: none;
}

.lst-kix_7sa4jqf4lloj-1 > li:before {
  content: "\0025cb  ";
}

ul.lst-kix_dd2rpnssw6y-5 {
  list-style-type: none;
}

ul.lst-kix_dd2rpnssw6y-4 {
  list-style-type: none;
}

ul.lst-kix_dd2rpnssw6y-3 {
  list-style-type: none;
}

ul.lst-kix_dd2rpnssw6y-2 {
  list-style-type: none;
}

.lst-kix_7sa4jqf4lloj-2 > li:before {
  content: "\0025a0  ";
}

ul.lst-kix_dd2rpnssw6y-1 {
  list-style-type: none;
}

ul.lst-kix_dd2rpnssw6y-0 {
  list-style-type: none;
}

.lst-kix_e80mmynzkxxu-0 > li:before {
  content: "\0025cf  ";
}

.lst-kix_7sa4jqf4lloj-3 > li:before {
  content: "\0025cf  ";
}

.lst-kix_e80mmynzkxxu-1 > li:before {
  content: "\0025cb  ";
}

.lst-kix_e80mmynzkxxu-2 > li:before {
  content: "\0025a0  ";
}

.lst-kix_1szzz6xeq68m-8 > li:before {
  content: "\0025a0  ";
}

.lst-kix_e80mmynzkxxu-5 > li:before {
  content: "\0025a0  ";
}

.lst-kix_7sa4jqf4lloj-0 > li:before {
  content: "\0025cf  ";
}

.lst-kix_1szzz6xeq68m-7 > li:before {
  content: "\0025cb  ";
}

.lst-kix_e80mmynzkxxu-3 > li:before {
  content: "\0025cf  ";
}

.lst-kix_e80mmynzkxxu-4 > li:before {
  content: "\0025cb  ";
}

ul.lst-kix_d00p9vtn8t6m-3 {
  list-style-type: none;
}

ul.lst-kix_d00p9vtn8t6m-4 {
  list-style-type: none;
}

ul.lst-kix_d00p9vtn8t6m-5 {
  list-style-type: none;
}

ul.lst-kix_d00p9vtn8t6m-6 {
  list-style-type: none;
}

ul.lst-kix_d00p9vtn8t6m-7 {
  list-style-type: none;
}

ul.lst-kix_d00p9vtn8t6m-8 {
  list-style-type: none;
}

.lst-kix_e80mmynzkxxu-6 > li:before {
  content: "\0025cf  ";
}

.lst-kix_e80mmynzkxxu-7 > li:before {
  content: "\0025cb  ";
}

.lst-kix_e80mmynzkxxu-8 > li:before {
  content: "\0025a0  ";
}

ul.lst-kix_d00p9vtn8t6m-0 {
  list-style-type: none;
}

ul.lst-kix_d00p9vtn8t6m-1 {
  list-style-type: none;
}

ul.lst-kix_d00p9vtn8t6m-2 {
  list-style-type: none;
}

.lst-kix_d00p9vtn8t6m-1 > li:before {
  content: "\0025cb  ";
}

.lst-kix_d00p9vtn8t6m-0 > li:before {
  content: "\0025cf  ";
}

.lst-kix_d00p9vtn8t6m-2 > li:before {
  content: "\0025a0  ";
}

.lst-kix_d00p9vtn8t6m-3 > li:before {
  content: "\0025cf  ";
}

.lst-kix_nyi0q1u8vv4g-8 > li:before {
  content: "\0025a0  ";
}

.lst-kix_d00p9vtn8t6m-8 > li:before {
  content: "\0025a0  ";
}

.lst-kix_d00p9vtn8t6m-7 > li:before {
  content: "\0025cb  ";
}

.lst-kix_d00p9vtn8t6m-5 > li:before {
  content: "\0025a0  ";
}

.lst-kix_nyi0q1u8vv4g-7 > li:before {
  content: "\0025cb  ";
}

.lst-kix_d00p9vtn8t6m-4 > li:before {
  content: "\0025cb  ";
}

.lst-kix_d00p9vtn8t6m-6 > li:before {
  content: "\0025cf  ";
}

.lst-kix_nyi0q1u8vv4g-6 > li:before {
  content: "\0025cf  ";
}

.lst-kix_nyi0q1u8vv4g-5 > li:before {
  content: "\0025a0  ";
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}

.lst-kix_nyi0q1u8vv4g-3 > li:before {
  content: "\0025cf  ";
}

.lst-kix_nyi0q1u8vv4g-2 > li:before {
  content: "\0025a0  ";
}

.lst-kix_nyi0q1u8vv4g-4 > li:before {
  content: "\0025cb  ";
}

.lst-kix_nyi0q1u8vv4g-0 > li:before {
  content: "\0025cf  ";
}

.lst-kix_nyi0q1u8vv4g-1 > li:before {
  content: "\0025cb  ";
}

ol {
  margin: 0;
  padding: 0;
}

table td,
table th {
  padding: 0;
}

.c2 {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
}

.c5 {
  color: #fff;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
}

.c1 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c8 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center;
}

.c7 {
  color: #fff;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
}

.c10 {
  background-color: #1b1b1b;
  margin: auto;
  width: 60%;
  border: 3px solid #eb502b;
  padding: 20px;
}

.c0 {
  padding: 0;
  margin: 0;
}

.c6 {
  margin-left: 36pt;
  padding-left: 0pt;
}

.c9 {
  margin-left: 36pt;
}

.c4 {
  font-weight: 700;
}

.ct {
  color: #eb502b;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
}

.c3 {
  height: 11pt;
}

.title {
  padding-top: 0pt;
  color: #fff;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.subtitle {
  padding-top: 0pt;
  color: #fff;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

li {
  color: #fff;
  font-size: 11pt;
  font-family: "Exo 2", sans-serif;
}

p {
  margin: 0;
  color: #fff;
  font-size: 11pt;
  font-family: "Exo 2", sans-serif;
}

h1 {
  padding-top: 20pt;
  color: #fff;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h2 {
  padding-top: 18pt;
  color: #fff;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h3 {
  padding-top: 16pt;
  color: #fff;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h4 {
  padding-top: 14pt;
  color: #fff;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h5 {
  padding-top: 12pt;
  color: #fff;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h6 {
  padding-top: 12pt;
  color: #fff;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}

@media screen and (max-width: 1280px) {
  .doc-content {
    width: 100%;
  }
}
