.lst-kix_b8w39sjwrmdr-5 > li:before {
  content: "\0025a0  ";
}

ul.lst-kix_b8w39sjwrmdr-5 {
  list-style-type: none;
}

ul.lst-kix_b8w39sjwrmdr-6 {
  list-style-type: none;
}

ul.lst-kix_b8w39sjwrmdr-3 {
  list-style-type: none;
}

.lst-kix_b8w39sjwrmdr-4 > li:before {
  content: "\0025cb  ";
}

.lst-kix_b8w39sjwrmdr-6 > li:before {
  content: "\0025cf  ";
}

ul.lst-kix_b8w39sjwrmdr-4 {
  list-style-type: none;
}

ul.lst-kix_b8w39sjwrmdr-1 {
  list-style-type: none;
}

.lst-kix_b8w39sjwrmdr-3 > li:before {
  content: "\0025cf  ";
}

.lst-kix_b8w39sjwrmdr-7 > li:before {
  content: "\0025cb  ";
}

ul.lst-kix_b8w39sjwrmdr-2 {
  list-style-type: none;
}

ul.lst-kix_b8w39sjwrmdr-0 {
  list-style-type: none;
}

ul.lst-kix_b8w39sjwrmdr-7 {
  list-style-type: none;
}

ul.lst-kix_b8w39sjwrmdr-8 {
  list-style-type: none;
}

.lst-kix_80viy5dia597-7 > li:before {
  content: "\0025cb  ";
}

.lst-kix_80viy5dia597-8 > li:before {
  content: "\0025a0  ";
}

ul.lst-kix_80viy5dia597-7 {
  list-style-type: none;
}

ul.lst-kix_80viy5dia597-8 {
  list-style-type: none;
}

ul.lst-kix_80viy5dia597-5 {
  list-style-type: none;
}

.lst-kix_80viy5dia597-6 > li:before {
  content: "\0025cf  ";
}

ul.lst-kix_80viy5dia597-6 {
  list-style-type: none;
}

ul.lst-kix_80viy5dia597-3 {
  list-style-type: none;
}

ul.lst-kix_80viy5dia597-4 {
  list-style-type: none;
}

.lst-kix_b8w39sjwrmdr-1 > li:before {
  content: "\0025cb  ";
}

.lst-kix_b8w39sjwrmdr-0 > li:before {
  content: "\0025cf  ";
}

.lst-kix_b8w39sjwrmdr-2 > li:before {
  content: "\0025a0  ";
}

.lst-kix_80viy5dia597-0 > li:before {
  content: "\0025cf  ";
}

.lst-kix_80viy5dia597-2 > li:before {
  content: "\0025a0  ";
}

ul.lst-kix_80viy5dia597-1 {
  list-style-type: none;
}

ul.lst-kix_80viy5dia597-2 {
  list-style-type: none;
}

.lst-kix_80viy5dia597-3 > li:before {
  content: "\0025cf  ";
}

.lst-kix_80viy5dia597-4 > li:before {
  content: "\0025cb  ";
}

ul.lst-kix_80viy5dia597-0 {
  list-style-type: none;
}

.lst-kix_80viy5dia597-5 > li:before {
  content: "\0025a0  ";
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}

.lst-kix_b8w39sjwrmdr-8 > li:before {
  content: "\0025a0  ";
}

.lst-kix_80viy5dia597-1 > li:before {
  content: "\0025cb  ";
}

ol {
  margin: 0;
  padding: 0;
}

table td,
table th {
  padding: 0;
}

.c4 {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
}

.c3 {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
}

.c0 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}

.c5 {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
}

.ct {
  color: #eb502b;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
}

.c6 {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
}

.c10 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center;
}

.c1 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c9 {
  background-color: #1b1b1b;
  margin: auto;
  width: 60%;
  border: 3px solid #eb502b;
  padding: 20px;
}

.c2 {
  margin-left: 36pt;
  padding-left: 0pt;
}

.c7 {
  padding: 0;
  margin: 0;
}

.c8 {
  margin-left: 36pt;
}

.c11 {
  font-weight: 700;
}

.title {
  padding-top: 0pt;
  color: #fff;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.subtitle {
  padding-top: 0pt;
  color: #fff;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

li {
  color: #fff;
  font-size: 11pt;
  font-family: "Exo 2", sans-serif;
}

p {
  margin: 0;
  color: #fff;
  font-size: 11pt;
  font-family: "Exo 2", sans-serif;
}

h1 {
  padding-top: 20pt;
  color: #fff;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h2 {
  padding-top: 18pt;
  color: #fff;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h3 {
  padding-top: 16pt;
  color: #fff;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h4 {
  padding-top: 14pt;
  color: #fff;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h5 {
  padding-top: 12pt;
  color: #fff;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h6 {
  padding-top: 12pt;
  color: #fff;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}

@media screen and (max-width: 1280px) {
  .doc-content {
    width: 100%;
  }
}
