<div class="container__wrapper">
  <loader-image [image]="pricingItem.image" (click)="openPopUp(pricingItem.id)" parentClassName="multimedia" altImage="Pricing Image"></loader-image>

  <div class="lightbox" [ngClass]="popUpActive">
    <div class="lightbox-content">
      <div class="imagebox">
        <loader-image [image]="pricingItem.image" parentClassName="full-screen" alt="Image Title"></loader-image>
      </div>

      <div class="top">
        <div class="top__wrapper">
          <div class="close__wrapper" (mouseover)="hoverClose = true" (mouseout)="hoverClose = false">
            <i class="bi bi-x-circle close fa-2x close" (click)="closePopUp()" *ngIf="!hoverClose"></i>
            <i class="bi bi-x-circle-fill fa-2x close" (click)="closePopUp()" *ngIf="hoverClose"></i>
          </div>
        </div>

        <div class="description">
          <p *ngIf="pricingItem.text">
            {{ pricingItem.text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
