.container {
  text-align: center;

  &__wrapper {
    margin: 12px;
    width: 100%;
    height: 100%;
  }
}

.content {
  cursor: default;
  user-select: none;
  position: fixed;
  visibility: hidden;
  z-index: 500;
  width: 30%;
  margin: auto 35%;
  top: 10px;
  font-family: "Exo 2", sans-serif;
  font-size: 2.5em;
  text-align: center;
  text-shadow: 1px 1px 5px #ffffff, -1px 1px 5px #ffffff, -1px -1px 5px #ffffff, 1px -1px 5px #ffffff;
}
.container .content {
  visibility: visible;
}
.lightbox {
  display: table;
  position: fixed;
  z-index: 501;
  top: -3000px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  transition: 1s;

  &__active {
    top: 0;
  }
}
.lightbox-content {
  display: flex;
  justify-content: center;
  align-items: start;
  column-gap: 16px;
  max-height: 100vw;
  height: 100%;
  position: relative;
}
.imagebox {
  max-height: 100vh;
}
img.full-screen {
  max-height: 100vh;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

p {
  font-family: "Exo 2", sans-serif;
  font-size: 30px;
  text-align: center;
  white-space: pre-line;
  word-wrap: break-word;
}
.label {
  position: absolute;
  top: 25%;
  text-align: center;
  color: #3d3d3d;
  font-size: 20px;
  font-weight: 300;
  opacity: 1;
}
.label::before {
  content: "";
  position: absolute;
  display: block;
  height: 0.18em;
  width: 2.1em;
  left: 8%;
  top: 44%;
  background: #ffffff;
  border-radius: 2px;
  z-index: 502;
  opacity: 0;
}

.label::after {
  content: "";
  position: absolute;
  display: block;
  height: 2.1em;
  width: 0.19em;
  left: 50%;
  top: -40%;
  background: #ffffff;
  border-radius: 2px;
  z-index: 502;
  opacity: 0;
}

.close {
  &__wrapper {
    width: 3em;
    height: 3em;
    color: #fff;
  }
}

.top {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  height: 50vh;
  padding-top: 8px;

  &__wrapper {
    display: flex;
    column-gap: 12px;
    align-items: center;
    justify-content: space-between;
  }
}

.date {
  margin: 0;
}

.description {
  padding: 0;
}

@media screen and (max-width: 1280px) {
  .lightbox {
    &-content {
      max-height: fit-content;
      flex-direction: column-reverse;
      height: 100%;
      justify-content: flex-end;
    }
  }

  .top {
    max-width: 100%;
    height: fit-content;
    justify-content: flex-end;
    align-items: end;
  }

  .description {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
