ol.lst-kix_l67rwdw1nsea-3.start {
  counter-reset: lst-ctn-kix_l67rwdw1nsea-3 0;
}

ul.lst-kix_1d6y4v31n5f-8 {
  list-style-type: none;
}

ol.lst-kix_odo5y850h2yh-7.start {
  counter-reset: lst-ctn-kix_odo5y850h2yh-7 0;
}

.lst-kix_odo5y850h2yh-6 > li {
  counter-increment: lst-ctn-kix_odo5y850h2yh-6;
}

ul.lst-kix_1d6y4v31n5f-3 {
  list-style-type: none;
}

ul.lst-kix_1d6y4v31n5f-2 {
  list-style-type: none;
}

ul.lst-kix_1d6y4v31n5f-1 {
  list-style-type: none;
}

ul.lst-kix_1d6y4v31n5f-0 {
  list-style-type: none;
}

.lst-kix_uf09iisjzdvu-2 > li {
  counter-increment: lst-ctn-kix_uf09iisjzdvu-2;
}

ul.lst-kix_1d6y4v31n5f-7 {
  list-style-type: none;
}

ul.lst-kix_1d6y4v31n5f-6 {
  list-style-type: none;
}

ol.lst-kix_uf09iisjzdvu-0.start {
  counter-reset: lst-ctn-kix_uf09iisjzdvu-0 0;
}

ul.lst-kix_1d6y4v31n5f-5 {
  list-style-type: none;
}

.lst-kix_l67rwdw1nsea-6 > li {
  counter-increment: lst-ctn-kix_l67rwdw1nsea-6;
}

ul.lst-kix_1d6y4v31n5f-4 {
  list-style-type: none;
}

ul.lst-kix_j2hy94a4ov1x-4 {
  list-style-type: none;
}

ul.lst-kix_j2hy94a4ov1x-5 {
  list-style-type: none;
}

ul.lst-kix_j2hy94a4ov1x-6 {
  list-style-type: none;
}

ul.lst-kix_j2hy94a4ov1x-7 {
  list-style-type: none;
}

ul.lst-kix_j2hy94a4ov1x-8 {
  list-style-type: none;
}

.lst-kix_l67rwdw1nsea-5 > li {
  counter-increment: lst-ctn-kix_l67rwdw1nsea-5;
}

.lst-kix_uf09iisjzdvu-3 > li {
  counter-increment: lst-ctn-kix_uf09iisjzdvu-3;
}

ul.lst-kix_j2hy94a4ov1x-0 {
  list-style-type: none;
}

ul.lst-kix_j2hy94a4ov1x-1 {
  list-style-type: none;
}

ul.lst-kix_j2hy94a4ov1x-2 {
  list-style-type: none;
}

ul.lst-kix_j2hy94a4ov1x-3 {
  list-style-type: none;
}

ol.lst-kix_l67rwdw1nsea-4 {
  list-style-type: none;
}

ol.lst-kix_l67rwdw1nsea-5 {
  list-style-type: none;
}

ol.lst-kix_l67rwdw1nsea-2 {
  list-style-type: none;
}

ol.lst-kix_l67rwdw1nsea-3 {
  list-style-type: none;
}

ol.lst-kix_l67rwdw1nsea-8 {
  list-style-type: none;
}

ol.lst-kix_l67rwdw1nsea-6 {
  list-style-type: none;
}

ol.lst-kix_l67rwdw1nsea-7 {
  list-style-type: none;
}

.lst-kix_odo5y850h2yh-5 > li {
  counter-increment: lst-ctn-kix_odo5y850h2yh-5;
}

ol.lst-kix_odo5y850h2yh-4.start {
  counter-reset: lst-ctn-kix_odo5y850h2yh-4 0;
}

ol.lst-kix_l67rwdw1nsea-0 {
  list-style-type: none;
}

ol.lst-kix_l67rwdw1nsea-1 {
  list-style-type: none;
}

.lst-kix_odo5y850h2yh-8 > li {
  counter-increment: lst-ctn-kix_odo5y850h2yh-8;
}

ol.lst-kix_uf09iisjzdvu-8.start {
  counter-reset: lst-ctn-kix_uf09iisjzdvu-8 0;
}

ol.lst-kix_l67rwdw1nsea-8.start {
  counter-reset: lst-ctn-kix_l67rwdw1nsea-8 0;
}

.lst-kix_j2hy94a4ov1x-8 > li:before {
  content: "\0025a0  ";
}

.lst-kix_odo5y850h2yh-8 > li:before {
  content: "" counter(lst-ctn-kix_odo5y850h2yh-8, lower-roman) ". ";
}

ol.lst-kix_uf09iisjzdvu-5.start {
  counter-reset: lst-ctn-kix_uf09iisjzdvu-5 0;
}

.lst-kix_j2hy94a4ov1x-7 > li:before {
  content: "\0025cb  ";
}

.lst-kix_odo5y850h2yh-7 > li:before {
  content: "" counter(lst-ctn-kix_odo5y850h2yh-7, lower-latin) ". ";
}

.lst-kix_j2hy94a4ov1x-4 > li:before {
  content: "\0025cb  ";
}

.lst-kix_1d6y4v31n5f-7 > li:before {
  content: "\0025cb  ";
}

ol.lst-kix_l67rwdw1nsea-1.start {
  counter-reset: lst-ctn-kix_l67rwdw1nsea-1 0;
}

.lst-kix_j2hy94a4ov1x-6 > li:before {
  content: "\0025cf  ";
}

.lst-kix_odo5y850h2yh-3 > li {
  counter-increment: lst-ctn-kix_odo5y850h2yh-3;
}

.lst-kix_j2hy94a4ov1x-5 > li:before {
  content: "\0025a0  ";
}

.lst-kix_1d6y4v31n5f-8 > li:before {
  content: "\0025a0  ";
}

.lst-kix_1d6y4v31n5f-3 > li:before {
  content: "\0025cf  ";
}

.lst-kix_gxwnxoc3vd4r-3 > li:before {
  content: "\0025cf  ";
}

.lst-kix_1d6y4v31n5f-1 > li:before {
  content: "\0025cb  ";
}

.lst-kix_1d6y4v31n5f-5 > li:before {
  content: "\0025a0  ";
}

.lst-kix_1d6y4v31n5f-2 > li:before {
  content: "\0025a0  ";
}

.lst-kix_1d6y4v31n5f-6 > li:before {
  content: "\0025cf  ";
}

.lst-kix_gxwnxoc3vd4r-2 > li:before {
  content: "\0025a0  ";
}

.lst-kix_gxwnxoc3vd4r-1 > li:before {
  content: "\0025cb  ";
}

ol.lst-kix_odo5y850h2yh-1.start {
  counter-reset: lst-ctn-kix_odo5y850h2yh-1 0;
}

.lst-kix_1d6y4v31n5f-4 > li:before {
  content: "\0025cb  ";
}

.lst-kix_gxwnxoc3vd4r-0 > li:before {
  content: "\0025cf  ";
}

.lst-kix_uf09iisjzdvu-4 > li {
  counter-increment: lst-ctn-kix_uf09iisjzdvu-4;
}

.lst-kix_l67rwdw1nsea-3 > li:before {
  content: "" counter(lst-ctn-kix_l67rwdw1nsea-3, decimal) ". ";
}

.lst-kix_uf09iisjzdvu-7 > li {
  counter-increment: lst-ctn-kix_uf09iisjzdvu-7;
}

.lst-kix_l67rwdw1nsea-4 > li:before {
  content: "" counter(lst-ctn-kix_l67rwdw1nsea-4, lower-latin) ". ";
}

.lst-kix_uf09iisjzdvu-1 > li {
  counter-increment: lst-ctn-kix_uf09iisjzdvu-1;
}

ol.lst-kix_uf09iisjzdvu-6.start {
  counter-reset: lst-ctn-kix_uf09iisjzdvu-6 0;
}

.lst-kix_l67rwdw1nsea-5 > li:before {
  content: "" counter(lst-ctn-kix_l67rwdw1nsea-5, lower-roman) ". ";
}

.lst-kix_l67rwdw1nsea-7 > li:before {
  content: "" counter(lst-ctn-kix_l67rwdw1nsea-7, lower-latin) ". ";
}

.lst-kix_l67rwdw1nsea-6 > li:before {
  content: "" counter(lst-ctn-kix_l67rwdw1nsea-6, decimal) ". ";
}

.lst-kix_l67rwdw1nsea-8 > li:before {
  content: "" counter(lst-ctn-kix_l67rwdw1nsea-8, lower-roman) ". ";
}

.lst-kix_l67rwdw1nsea-1 > li {
  counter-increment: lst-ctn-kix_l67rwdw1nsea-1;
}

.lst-kix_1d6y4v31n5f-0 > li:before {
  content: "\0025cf  ";
}

.lst-kix_gxwnxoc3vd4r-4 > li:before {
  content: "\0025cb  ";
}

ol.lst-kix_odo5y850h2yh-8.start {
  counter-reset: lst-ctn-kix_odo5y850h2yh-8 0;
}

.lst-kix_j2hy94a4ov1x-0 > li:before {
  content: "\0025cf  ";
}

ol.lst-kix_l67rwdw1nsea-6.start {
  counter-reset: lst-ctn-kix_l67rwdw1nsea-6 0;
}

ol.lst-kix_l67rwdw1nsea-0.start {
  counter-reset: lst-ctn-kix_l67rwdw1nsea-0 0;
}

.lst-kix_gxwnxoc3vd4r-5 > li:before {
  content: "\0025a0  ";
}

.lst-kix_j2hy94a4ov1x-3 > li:before {
  content: "\0025cf  ";
}

.lst-kix_l67rwdw1nsea-4 > li {
  counter-increment: lst-ctn-kix_l67rwdw1nsea-4;
}

.lst-kix_gxwnxoc3vd4r-6 > li:before {
  content: "\0025cf  ";
}

.lst-kix_l67rwdw1nsea-7 > li {
  counter-increment: lst-ctn-kix_l67rwdw1nsea-7;
}

ul.lst-kix_gxwnxoc3vd4r-1 {
  list-style-type: none;
}

ol.lst-kix_odo5y850h2yh-2.start {
  counter-reset: lst-ctn-kix_odo5y850h2yh-2 0;
}

ul.lst-kix_gxwnxoc3vd4r-0 {
  list-style-type: none;
}

.lst-kix_gxwnxoc3vd4r-7 > li:before {
  content: "\0025cb  ";
}

.lst-kix_j2hy94a4ov1x-2 > li:before {
  content: "\0025a0  ";
}

ul.lst-kix_gxwnxoc3vd4r-3 {
  list-style-type: none;
}

ul.lst-kix_gxwnxoc3vd4r-2 {
  list-style-type: none;
}

.lst-kix_j2hy94a4ov1x-1 > li:before {
  content: "\0025cb  ";
}

ul.lst-kix_gxwnxoc3vd4r-5 {
  list-style-type: none;
}

ul.lst-kix_gxwnxoc3vd4r-4 {
  list-style-type: none;
}

.lst-kix_gxwnxoc3vd4r-8 > li:before {
  content: "\0025a0  ";
}

ul.lst-kix_gxwnxoc3vd4r-7 {
  list-style-type: none;
}

ul.lst-kix_gxwnxoc3vd4r-6 {
  list-style-type: none;
}

ol.lst-kix_odo5y850h2yh-0.start {
  counter-reset: lst-ctn-kix_odo5y850h2yh-0 0;
}

ul.lst-kix_gxwnxoc3vd4r-8 {
  list-style-type: none;
}

.lst-kix_l67rwdw1nsea-0 > li {
  counter-increment: lst-ctn-kix_l67rwdw1nsea-0;
}

.lst-kix_odo5y850h2yh-0 > li {
  counter-increment: lst-ctn-kix_odo5y850h2yh-0;
}

ol.lst-kix_odo5y850h2yh-3.start {
  counter-reset: lst-ctn-kix_odo5y850h2yh-3 0;
}

ol.lst-kix_l67rwdw1nsea-7.start {
  counter-reset: lst-ctn-kix_l67rwdw1nsea-7 0;
}

ol.lst-kix_uf09iisjzdvu-7.start {
  counter-reset: lst-ctn-kix_uf09iisjzdvu-7 0;
}

ol.lst-kix_odo5y850h2yh-6.start {
  counter-reset: lst-ctn-kix_odo5y850h2yh-6 0;
}

.lst-kix_l67rwdw1nsea-2 > li:before {
  content: "" counter(lst-ctn-kix_l67rwdw1nsea-2, lower-roman) ". ";
}

ol.lst-kix_uf09iisjzdvu-8 {
  list-style-type: none;
}

.lst-kix_l67rwdw1nsea-1 > li:before {
  content: "" counter(lst-ctn-kix_l67rwdw1nsea-1, lower-latin) ". ";
}

ol.lst-kix_uf09iisjzdvu-7 {
  list-style-type: none;
}

ol.lst-kix_uf09iisjzdvu-6 {
  list-style-type: none;
}

.lst-kix_odo5y850h2yh-2 > li {
  counter-increment: lst-ctn-kix_odo5y850h2yh-2;
}

ol.lst-kix_uf09iisjzdvu-1.start {
  counter-reset: lst-ctn-kix_uf09iisjzdvu-1 0;
}

ol.lst-kix_uf09iisjzdvu-5 {
  list-style-type: none;
}

ol.lst-kix_odo5y850h2yh-0 {
  list-style-type: none;
}

ol.lst-kix_uf09iisjzdvu-4 {
  list-style-type: none;
}

ol.lst-kix_odo5y850h2yh-1 {
  list-style-type: none;
}

ol.lst-kix_uf09iisjzdvu-3 {
  list-style-type: none;
}

ol.lst-kix_uf09iisjzdvu-4.start {
  counter-reset: lst-ctn-kix_uf09iisjzdvu-4 0;
}

ol.lst-kix_odo5y850h2yh-2 {
  list-style-type: none;
}

ol.lst-kix_uf09iisjzdvu-2 {
  list-style-type: none;
}

ol.lst-kix_odo5y850h2yh-3 {
  list-style-type: none;
}

.lst-kix_l67rwdw1nsea-0 > li:before {
  content: "" counter(lst-ctn-kix_l67rwdw1nsea-0, decimal) ". ";
}

ol.lst-kix_uf09iisjzdvu-1 {
  list-style-type: none;
}

ol.lst-kix_odo5y850h2yh-4 {
  list-style-type: none;
}

ol.lst-kix_l67rwdw1nsea-2.start {
  counter-reset: lst-ctn-kix_l67rwdw1nsea-2 0;
}

ol.lst-kix_uf09iisjzdvu-0 {
  list-style-type: none;
}

ol.lst-kix_odo5y850h2yh-5 {
  list-style-type: none;
}

ol.lst-kix_odo5y850h2yh-6 {
  list-style-type: none;
}

ol.lst-kix_odo5y850h2yh-7 {
  list-style-type: none;
}

ol.lst-kix_odo5y850h2yh-8 {
  list-style-type: none;
}

.lst-kix_odo5y850h2yh-2 > li:before {
  content: "" counter(lst-ctn-kix_odo5y850h2yh-2, lower-roman) ". ";
}

ol.lst-kix_l67rwdw1nsea-5.start {
  counter-reset: lst-ctn-kix_l67rwdw1nsea-5 0;
}

.lst-kix_odo5y850h2yh-3 > li:before {
  content: "" counter(lst-ctn-kix_odo5y850h2yh-3, decimal) ". ";
}

.lst-kix_uf09iisjzdvu-8 > li {
  counter-increment: lst-ctn-kix_uf09iisjzdvu-8;
}

.lst-kix_odo5y850h2yh-4 > li:before {
  content: "" counter(lst-ctn-kix_odo5y850h2yh-4, lower-latin) ". ";
}

.lst-kix_odo5y850h2yh-6 > li:before {
  content: "" counter(lst-ctn-kix_odo5y850h2yh-6, decimal) ". ";
}

.lst-kix_odo5y850h2yh-5 > li:before {
  content: "" counter(lst-ctn-kix_odo5y850h2yh-5, lower-roman) ". ";
}

.lst-kix_l67rwdw1nsea-3 > li {
  counter-increment: lst-ctn-kix_l67rwdw1nsea-3;
}

.lst-kix_uf09iisjzdvu-5 > li:before {
  content: "" counter(lst-ctn-kix_uf09iisjzdvu-5, lower-roman) ". ";
}

.lst-kix_uf09iisjzdvu-6 > li:before {
  content: "" counter(lst-ctn-kix_uf09iisjzdvu-6, decimal) ". ";
}

.lst-kix_uf09iisjzdvu-3 > li:before {
  content: "" counter(lst-ctn-kix_uf09iisjzdvu-3, decimal) ". ";
}

.lst-kix_uf09iisjzdvu-4 > li:before {
  content: "" counter(lst-ctn-kix_uf09iisjzdvu-4, lower-latin) ". ";
}

.lst-kix_uf09iisjzdvu-7 > li:before {
  content: "" counter(lst-ctn-kix_uf09iisjzdvu-7, lower-latin) ". ";
}

.lst-kix_uf09iisjzdvu-8 > li:before {
  content: "" counter(lst-ctn-kix_uf09iisjzdvu-8, lower-roman) ". ";
}

.lst-kix_uf09iisjzdvu-1 > li:before {
  content: "" counter(lst-ctn-kix_uf09iisjzdvu-1, lower-latin) ". ";
}

.lst-kix_uf09iisjzdvu-2 > li:before {
  content: "" counter(lst-ctn-kix_uf09iisjzdvu-2, lower-roman) ". ";
}

.lst-kix_uf09iisjzdvu-5 > li {
  counter-increment: lst-ctn-kix_uf09iisjzdvu-5;
}

.lst-kix_odo5y850h2yh-1 > li:before {
  content: "" counter(lst-ctn-kix_odo5y850h2yh-1, lower-latin) ". ";
}

.lst-kix_odo5y850h2yh-0 > li:before {
  content: "" counter(lst-ctn-kix_odo5y850h2yh-0, decimal) ". ";
}

.lst-kix_l67rwdw1nsea-8 > li {
  counter-increment: lst-ctn-kix_l67rwdw1nsea-8;
}

.lst-kix_uf09iisjzdvu-0 > li {
  counter-increment: lst-ctn-kix_uf09iisjzdvu-0;
}

ol.lst-kix_l67rwdw1nsea-4.start {
  counter-reset: lst-ctn-kix_l67rwdw1nsea-4 0;
}

ol.lst-kix_uf09iisjzdvu-2.start {
  counter-reset: lst-ctn-kix_uf09iisjzdvu-2 0;
}

.lst-kix_uf09iisjzdvu-6 > li {
  counter-increment: lst-ctn-kix_uf09iisjzdvu-6;
}

.lst-kix_l67rwdw1nsea-2 > li {
  counter-increment: lst-ctn-kix_l67rwdw1nsea-2;
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}

.lst-kix_odo5y850h2yh-1 > li {
  counter-increment: lst-ctn-kix_odo5y850h2yh-1;
}

ol.lst-kix_uf09iisjzdvu-3.start {
  counter-reset: lst-ctn-kix_uf09iisjzdvu-3 0;
}

.lst-kix_odo5y850h2yh-7 > li {
  counter-increment: lst-ctn-kix_odo5y850h2yh-7;
}

.lst-kix_uf09iisjzdvu-0 > li:before {
  content: "" counter(lst-ctn-kix_uf09iisjzdvu-0, decimal) ". ";
}

ol.lst-kix_odo5y850h2yh-5.start {
  counter-reset: lst-ctn-kix_odo5y850h2yh-5 0;
}

.lst-kix_odo5y850h2yh-4 > li {
  counter-increment: lst-ctn-kix_odo5y850h2yh-4;
}

ol {
  margin: 0;
  padding: 0;
}

table td,
table th {
  padding: 0;
}

.c0 {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
}

.c10 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center;
}

.c7 {
  color: #fff;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
}

.c3 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.ct {
  color: #eb502b;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 24pt;
  font-family: "Exo 2", sans-serif;
  font-style: initial;
}

.c9 {
  color: #fff;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
}

.c8 {
  background-color: #1b1b1b;
  margin: auto;
  width: 75%;
  border: 3px solid #eb502b;
  padding: 15px;
}

.c4 {
  margin-left: 36pt;
  padding-left: 0pt;
}

.c1 {
  padding: 0;
  margin: 0;
}

.c2 {
  font-weight: 700;
}

.c6 {
  margin-left: 36pt;
}

.c5 {
  height: 11pt;
}

.title {
  padding-top: 0pt;
  color: #fff;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.subtitle {
  padding-top: 0pt;
  color: #fff;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

li {
  color: #fff;
  font-size: 11pt;
  font-family: "Exo 2", sans-serif;
}

p {
  margin: 0;
  color: #fff;
  font-size: 11pt;
  font-family: "Exo 2", sans-serif;
}

h1 {
  padding-top: 20pt;
  color: #fff;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h2 {
  padding-top: 18pt;
  color: #fff;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h3 {
  padding-top: 16pt;
  color: #fff;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h4 {
  padding-top: 14pt;
  color: #fff;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h5 {
  padding-top: 12pt;
  color: #fff;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h6 {
  padding-top: 12pt;
  color: #fff;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Exo 2", sans-serif;
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}

@media screen and (max-width: 1280px) {
  .doc-content {
    width: 100%;
  }
}
