.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  max-width: 80%;
  row-gap: 24px;
  margin-bottom: 32px;

  &__description {
    max-width: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1280px) {
  .news {
    max-width: 100%;

    &__description {
      max-width: 90%;
    }
  }
}
