<carousel [imageUrls]="imageUrls"></carousel>
<div class="container px-4" id="featured-3">
  <main class="main">
    <hr class="featurette-divider" />

    <div class="header__wrapper">
      <div class="header">
        <h2 class="header__title">{{ 'home.title' | translate }}</h2>
        <p class="header__text">
          {{ 'home.description' | translate }}
        </p>
      </div>
    </div>

    <hr class="featurette-divider" />

    <div id="carouselExampleControls w-100" class="carousel slide" data-ride="carousel">
      <div id="carouselExampleIndicators" class="carousel slide carousel-fade buttons" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <article class="postcard dark blue">
              <a class="postcard__img_link">
                <img class="postcard__img" src="../../../assets/images/1.png" alt="Image Title" />
              </a>
              <div class="postcard__text">
                <h1 class="postcard__title blue">
                  <p>{{ 'home.carousel.first.title' | translate }}</p>
                </h1>
                <div class="postcard__subtitle small"></div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                  {{ 'home.carousel.first.description' | translate }}
                </div>
              </div>
            </article>
          </div>
          <div class="carousel-item">
            <article class="postcard dark red">
              <a class="postcard__img_link">
                <img class="postcard__img" src="../../../assets/images/2.png" alt="Image Title" />
              </a>
              <div class="postcard__text">
                <h1 class="postcard__title red">
                  <p>{{ 'home.carousel.second.title' | translate }}</p>
                </h1>
                <div class="postcard__subtitle small"></div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                  {{ 'home.carousel.second.description' | translate }}
                </div>
              </div>
            </article>
          </div>
          <div class="carousel-item">
            <article class="postcard dark blue">
              <a class="postcard__img_link">
                <img class="postcard__img" src="../../../assets/images/3.png" alt="Image Title" />
              </a>
              <div class="postcard__text">
                <h1 class="postcard__title blue">
                  <p>{{ 'home.carousel.third.title' | translate }}</p>
                </h1>
                <div class="postcard__subtitle small"></div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{ 'home.carousel.third.description' | translate }}</div>
              </div>
            </article>
          </div>
          <div class="carousel-item">
            <article class="postcard dark red">
              <a class="postcard__img_link">
                <img class="postcard__img" src="../../../assets/images/4.png" alt="Image Title" />
              </a>
              <div class="postcard__text">
                <h1 class="postcard__title red">
                  <p>{{ 'home.carousel.fourth.title' | translate }}</p>
                </h1>
                <div class="postcard__subtitle small"></div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{ 'home.carousel.fourth.description' | translate }}</div>
              </div>
            </article>
          </div>
          <div class="carousel-item">
            <article class="postcard dark blue">
              <a class="postcard__img_link">
                <img class="postcard__img" src="../../../assets/images/5.png" alt="Image Title" />
              </a>
              <div class="postcard__text">
                <h1 class="postcard__title blue">
                  <p>{{ 'home.carousel.fifth.title' | translate }}</p>
                </h1>
                <div class="postcard__subtitle small"></div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{ 'home.carousel.fifth.description' | translate }}</div>
              </div>
            </article>
          </div>
          <div class="carousel-item">
            <article class="postcard dark red">
              <a class="postcard__img_link">
                <img class="postcard__img" src="../../../assets/images/6.png" alt="Image Title" />
              </a>
              <div class="postcard__text">
                <h1 class="postcard__title red">
                  <a>{{ 'home.carousel.sixth.title' | translate }}</a>
                </h1>
                <div class="postcard__subtitle small"></div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{ 'home.carousel.sixth.description' | translate }}</div>
              </div>
            </article>
          </div>
          <div class="carousel-item">
            <article class="postcard dark blue">
              <a class="postcard__img_link">
                <img class="postcard__img" src="../../../assets/images/7.png" alt="Image Title" />
              </a>
              <div class="postcard__text">
                <h1 class="postcard__title blue">
                  <p>{{ 'home.carousel.seventh.title' | translate }}</p>
                </h1>
                <div class="postcard__subtitle small"></div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{ 'home.carousel.seventh.description' | translate }}</div>
              </div>
            </article>
          </div>
          <div class="carousel-item">
            <article class="postcard dark red">
              <a class="postcard__img_link">
                <img class="postcard__img" src="../../../assets/images/8.png" alt="Image Title" />
              </a>
              <div class="postcard__text">
                <h1 class="postcard__title red">
                  <a>{{ 'home.carousel.eighth.title' | translate }}</a>
                </h1>
                <div class="postcard__subtitle small"></div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                  {{ 'home.carousel.eighth.description' | translate }}
                </div>
              </div>
            </article>
          </div>
          <div class="carousel-item">
            <article class="postcard dark blue">
              <a class="postcard__img_link">
                <img class="postcard__img" src="../../../assets/images/9.png" alt="Image Title" />
              </a>
              <div class="postcard__text">
                <h1 class="postcard__title blue">
                  <p>{{ 'home.carousel.ninth.title' | translate }}</p>
                </h1>
                <div class="postcard__subtitle small"></div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{ 'home.carousel.ninth.description' | translate }}</div>
              </div>
            </article>
          </div>
          <div class="carousel-item">
            <article class="postcard dark red">
              <a class="postcard__img_link">
                <img class="postcard__img" src="../../../assets/images/10.png" alt="Image Title" />
              </a>
              <div class="postcard__text">
                <h1 class="postcard__title red">
                  <p>{{ 'home.carousel.tenth.title' | translate }}</p>
                </h1>
                <div class="postcard__subtitle small"></div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{ 'home.carousel.tenth.description' | translate }}</div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>

    <div class="container marketing">
      <hr class="featurette-divider" />

      <div class="row featurette location__wrapper">
        <div class="mw-100 location">
          <h2 class="featurette-heading fw-normal lh-1" style="color: #ff4500">{{ 'home.location.title' | translate }}</h2>
          <br />
          <br />
          <div class="col-md-7 w-100">
            <p class="lead text-align-center" style="color: #fff">
              {{ 'home.location.description' | translate }}
            </p>
          </div>
        </div>

        <div class="col-md-5 iframeGoogle__wrapper">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387.3083091775409!2d28.41538025513628!3d49.22921076601249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472d5d2b38badcad%3A0xc764819a112b1faa!2sMust%20have%20tattoo%20and%20coffee!5e0!3m2!1sru!2sua!4v1675538757114!5m2!1sru!2sua"
            class="iframeGoogle"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>

      <div class="wrapper">
        <hr class="featurette-divider" />
        <h2 style="color: #ff4500">{{ 'home.social' | translate }}</h2>

        <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline d-flex flex-row justify-content-center gap-3 pt-3">
          <li>
            <a
              href="https://t.me/musthavetattoo_bot
            "
              target="_blank"
              ><img class="social-icons fa" src="../../../assets/images/telegram.png" alt=""
            /></a>
          </li>
          <li>
            <a target="_blank" href="https://www.instagram.com/must_have_tattoo/"
              ><img class="social-icons fa" src="../../../assets/images/instagram.png" alt=""
            /></a>
          </li>
          <li>
            <a
              href="https://www.tiktok.com/@must_have_tattoo?_t=8ZbUXRC06Hm&_r=1
            "
              target="_blank"
              ><img class="social-icons fa" src="../../../assets/images//tiktok.png" alt=""
            /></a>
          </li>
        </ul>
        <hr class="featurette-divider" />
      </div>
    </div>
  </main>
</div>

<payment-notification [isActive]="paymentStatus"></payment-notification>
