:root {
  --spacing-s: 8px;
  --spacing-l: 24px;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
}

body {
  height: 100%;
}

.card {
  list-style: none;
  position: relative;
  z-index: 999;

  &:before {
    content: "";
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }

  &:hover {
    transform: scale(1.05) translateZ(0);
  }

  &__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    height: 100%;
    padding-bottom: 18px;
    left: 0;
    top: 0;
    color: rgba(255, 255, 255, 0.6);
  }

  &__category {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 12px;
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  &__heading {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }
}
